.expense-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 13px;

  width: 100%;

  transition: all 0.1s ease;

  &:hover {
    background-color: var(--color-grey-light-3);
  }

  &:active,
  &__is-active {
    border-color: 2px solid var(--color-primary-light);
    color: var(--color-primary-light-3);
    border-radius: 1rem;
    font-weight: 700;
    font-size: 110%;
    background-color: var(--color-grey-light-4);
  }

  &:first-child {
    border-top: 1px solid #e7e7e7;
  }

  &:nth-child(even) {
    background-color: var(--color-grey-dark-1);
  }

  &__link {
    text-decoration: none;
  }

  &__user {
    margin-left: 2rem;
    margin-right: 5rem;
    color: var(--color-grey-dark-1);
  }

  &__amount {
    margin-left: 5rem;
    color: var(--color-primary-light);
  }
}
