.expense-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 13px;

  width: 100%;
  color: #ff3366;
  transition: all 0.1s ease;

  &:hover,
  &:active {
    border-color: 2px solid #ff3366;
    color: #ff3366;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 105%;
    background-color: #eee;
  }

  &:first-child {
    border-top: 1px solid #e7e7e7;
  }

  &:nth-child(even) {
    background-color: #f7f7f7;
  }

  &__link {
    text-decoration: none;
  }

  &__user {
    margin-left: 2rem;
    margin-right: 5rem;
  }

  &__amount {
    margin-left: 5rem;
  }
}
