.receipts-dropzone {
  width: 15rem;
  height: 15rem;
  border: 1px dashed var(--color-secondary);
  text-align: center;
  background-color: var(--color-grey-light-1);
  border-radius: 3px;

  &__remove-file {
    color: var(--color-primary-dark);
  }

  &__content {
    color: var(--color-secondary);
    font-size: 120%;
    width: 100%;
    border: none;
    padding-top: 4.5rem;

    &:focus {
      outline: none;
    }

    &--list-group {
      &-item {
        width: 100%;
        border: none;
      }
    }
  }
}
