.comment {
  width: 100%;

  &__form {
    &--input {
      border: 1px solid #e7e7e7;
      background-color: #fff;
      color: inherit;
      font-family: inherit;
      font-size: 1.5rem;
      padding: 12px 15px;
      margin-right: 10px;
      border-radius: 5px;
      width: 100%;
      transition: border 0.3s;
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        border: 1px solid #28b9b5;
      }
    }

    &--btn {
      display: flex;
      justify-content: space-between;

      &-submit {
        margin-right: 2rem;
        font-size: 1.5rem;
        width: 40%;
      }

      &-cancel {
        margin-left: 2rem;
        font-size: 1.5rem;
        width: 40%;
      }
    }
  }
}
