.expense-detail {
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin: 5rem 0;
    width: 10%;
  }

  &__merchant {
    font-size: 150%;
    font-weight: 200;
    background-color: #28b9b5;
    color: #fff;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    border-radius: 50%;
    padding: 6rem 1rem 1rem 1rem;
  }

  &__amount {
    font-size: 110%;
    font-weight: 600;

    width: 50%;
    margin: 0 auto;
    color: #ff3366;

    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 5rem 0 5rem 0;
  }

  &__receipts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;

    &--item {
      height: 15rem;
      width: 15rem;
      border-radius: 0.5rem;
      margin: 3px;

      &-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }

  &__user-name {
    display: flex;
    margin-top: 1rem;

    &--icon {
      flex: 1 0 20%;
      font-size: 120%;
      margin-right: 2rem;
    }

    &--first,
    &--last {
      flex: 1 0 60%;
      font-weight: 600;
    }
  }

  &__user-email {
    display: flex;
    margin-top: 1rem;

    &--icon {
      flex: 1 0 20%;
      font-size: 120%;
      margin-right: 2rem;
    }

    &--address {
      position: absolute;
      left: 5rem;
    }
  }

  &__date {
    display: flex;
    margin-top: 1rem;

    &--icon {
      flex: 1 0 20%;
      font-size: 120%;
      margin-right: 2rem;
    }

    &--format {
      margin-left: 1rem;
      position: absolute;
      left: 5rem;
    }
  }

  &__comment {
    margin-top: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    &--text {
      font-family: 'Indie Flower', cursive;
      font-weight: 600;
      background-color: #efefef;
      font-size: 110%;
      color: #28b9b5;
    }

    &--add {
      margin: 4rem 0 2rem 0;
      display: flex;

      &:focus {
        outline: none;
      }

      &--icon {
        flex: 1 0 20%;
        font-size: 120%;
        margin-right: 2rem;
      }

      &--text {
        position: absolute;
        left: 5rem;
      }
    }
  }
}
