.expense-detail {
  padding-left: 2.5rem;
  width: 100%;

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin: 1.5rem 0.5rem;
    width: 10%;
  }

  &__alert {
    font-size: 120%;
    font-weight: 700;
    width: 90%;
    text-align: center;
    margin-top: 1rem;
  }

  &__merchant {
    font-size: 150%;
    font-weight: 200;
    background-color: var(--color-secondary);
    color: #fff;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    border-radius: 50%;
    padding: 6rem 1rem 1rem 1rem;
    width: 50%;
    margin: 0 25% 0 20%;
  }

  &__amount {
    font-size: 110%;
    font-weight: 600;

    width: 50%;
    margin: 0 25% 0 20%;
    color: #fff;
    background-color: var(--color-primary-light);

    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    &--description {
      margin-right: 3rem;
      font-size: 90%;
      color: #000;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 5rem 0 5rem 0;
    width: 100%;
  }

  &__receipts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;

    &--placeholder {
      width: 15rem;
      height: 15rem;
      border: 1px dashed var(--color-secondary);
      text-align: center;
      background-color: #fff;
      border-radius: 3px;

      &-content {
        padding: 5rem;
        color: var(--color-secondary);
        font-size: 120%;
      }
    }

    &--item {
      height: 15rem;
      width: 15rem;
      border-radius: 0.5rem;
      margin: 3px;

      &-image {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }

  &__user {
    width: 100%;

    &-name {
      margin-top: 1rem;
      display: flex;

      &--icon {
        font-size: 120%;
        margin-right: 4rem;
      }

      &--first-last {
        font-weight: 600;
      }
    }

    &-email {
      display: flex;
      margin-top: 1rem;

      &--icon {
        font-size: 120%;
        margin-right: 4rem;
      }

      &--address {
      }
    }

    &-date {
      display: flex;
      margin-top: 1rem;
      align-content: center;
      justify-content: flex-start;

      width: 100%;

      &--icon {
        margin-right: 4rem;
        font-size: 120%;
      }

      &--format {
      }
    }
  }

  &__comment {
    margin-bottom: 2rem;
    border: 1px dashed #555;
    padding: 4px;
    width: 100%;

    &--text {
      font-family: 'Indie Flower', cursive;
      font-weight: 600;
      background-color: #efefef;
      font-size: 110%;
      color: var(--color-secondary);
      width: 100%;
      margin: 0 auto;
    }

    &--form {
      width: 100%;
    }

    &--add {
      margin: 4rem 0 2rem 0;
      display: flex;

      &:focus {
        outline: none;
      }

      &--icon {
        flex: 1 0 20%;
        font-size: 120%;
        margin-right: 2rem;
      }

      &--text {
        position: absolute;
        left: 7rem;
      }
    }
  }
}
