.receipt-form {
  padding-bottom: 2rem;

  .receipt-form__btn {
    margin-top: 1.5rem;
    width: 100%;
    background-color: #eee;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;

    display: flex;
    justify-content: space-between;

    &--submit {
      font-size: 1.5rem;
      width: 100%;
    }
  }
}
